.addUser{
 
  form{
    width:100%;
    display: grid;
    justify-content: space-around;
    align-items: centre;
    margin: 2rem auto;
    padding: 0.5rem auto;
    border-radius: 2rem;
    background: #222;
    transition: all 0.5s;
    lable{
      margin: 0.8rem 0rem;
      font-weight: bold;
    }
    input{
      width:100%;
      border: 1px solid #ccc;
      padding: 0.5rem 1.5rem;
      border: 1px solid #fff;
      margin-bottom: 0.5rem;
      border-radius: 1rem;
      border: none;
     outline: none;
    }
    textarea{
      border-radius: 1rem;
      resize: none;
      border: none;
      outline: none;
      padding: 0.5rem 1.5rem;
    }
  }
  form:hover{
    background: #666;
    input,textarea{
      border: 1px;
      outline: 1px;
    }
  }
}
